:root {
    --main-color : #f8693e;
    --main-bg-color : #FFF9F6;
    --main-shadow : 5px 5px 5px rgba(0, 0, 0, 0.205);
    --txt-color : black;
    --bg-color : rgb(31, 23, 48);
    --header-color : rgb(234, 229, 253);
    --form-color : rgb(40, 31, 59);
}


html {
    height: 100%;
    background-color: var(--bg-color);
}

h1{
    text-align: center;
   
}


header {
    width: 100%;
    height: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    padding: 10px;
    color: var(--header-color);

    text-transform: capitalize;
    text-transform: uppercase;
}

header nav {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    gap: 10px;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav span 
{
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;;
}

header nav span:hover 
{
    background-color: #ff8554;
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

header nav span a {
    text-decoration: none;
    color: var(--header-color);
}


.editor {
    display: flex;
    justify-content: center;
    padding: 16mm;
    background-color: var(--bg-color);
    filter: drop-shadow(20%);
    flex-wrap: wrap;
}

.log-section {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 5px ;
    align-items: center;
}

.log {
    height: 500px;
    width: 100%;
    background-color: #000000;
    box-shadow : var(--main-shadow);
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.log p {
    color : var(--main-color);
    margin-left: 20px;
    white-space: pre;
}

.log-section span {
    background-color: var(--main-color);
    color: white;
    padding: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width : 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -7px;
    z-index: 10;
}
.creation-container {
    background-color: var(--form-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
    filter: blur(1);
    width: 700px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;

    
}

.book-border {
    border-radius: 10px;
    border-style: solid;
    border-width: 0px;
    border-color: var(--main-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.required-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex-grow: 1;
    height: 500px;
}

.creation-container textarea {
    resize: none;
    overflow-y: auto;
}


.prompt {
    flex-grow: 0.8;
    
}

.description {
    flex-grow: 0.4;
}

.theme-list {
    flex-grow: 0.4;
    display: flex;
    background-color: #ffffff;
   
    gap: 10px;
    padding: 5px;
    flex-wrap: wrap;
    overflow-y: auto;
    flex-grow: 1;
    border-radius: 5px;
}

.theme-list .theme-tag {
    display: block;
    background-color: var(--main-color);
    color: white;
    height: 20px;
    flex-shrink: 0;
    border-radius: 5px;
    padding: 3px;
    

}

.delete-icon {
    content: url("resources/delete-cross.svg");
    display: inline-block;
    margin-left: 5px;
}

.delete-icon:hover {
    content: url("resources/delete-cross-white.svg");
}

.delete-icon:active {
    transform: scale(1.2);
}

.theme-creation {
    background-color: #fffbf9;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144) ;
    border-radius: 5px;
    padding: 5px;
    flex-grow: 0.2;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.theme-creator {
    display: flex;
    gap: px;
    flex-grow: 0.15;
}

.theme-creator input[type="button"] {
    flex-grow: 0.1;
}

.theme-creator input[type="text"] {
    flex-grow: 0.9;
} 



.extra-details {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144) ;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-grow: 0.2;
    gap: 10px;
    padding: 5px;
    overflow: auto;
}

.additional-params{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144) ;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    padding: 10px;
    
}

.param-editor {
    display: flex;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.param-editor input[type="text"] {
    flex-grow: 0.7;
}

.param-editor input[type="button"] {
    flex-grow: 0.3;
}

.param-list {
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 5px;
    gap: 10px;
    max-height: 150px;
    overflow-y: auto;
    height: 200px;
}

.param {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.param span{
    content: url("resources/delete-cross.svg");
    margin-left: 5px;
    margin-right: 5px;
}
.param-name {
    flex-grow: 0.05;
}
.param-value {
    flex-grow: 0.95;
}

.more-details {
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144) ;

    
    padding: 5px;
    border-radius: 5px;
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}
.other-details {
    display: flex;
    flex-direction: column;
}

.other-details span {
    text-align: center;
}

.image-upload {
    display: flex;
    height: 200px;
    background-color: var(--main-color);
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    flex-grow: 1;
}

.image-upload:hover {
    background-color: var(--main-color);

}

.upload-icon {
    content: url("resources/upload-file-black.svg");
    flex-grow: 1;
}


.image-upload span {
    text-align: center;
}

textarea {
    background-color: #ffffff;
    border-radius: 4px;
    
}

textarea:focus {
    background-color: #ffffff;
    outline : none;
    border-style: solid;
    border-width: 0px;
    border-left-width: 2px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.247);

   
}

input[type="text"] {
    background-color: #ffffff;
    border-radius: 5px;
    border-style: solid ;
    border-width: 1px;

}

input[type="text"]:focus {
    background-color: #ffffff;
    outline: none;
    border-style: ridge;
    border-width: 0px;
    border-left-width: 2px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.247);
}

input[type="button"] {
    background-color: #f85f34;
    border-radius: 4px;
    border-style: hidden;
}

input[type="button"]:hover {
    background-color: #ca6448;
}

input[type="button"]:active {
    background-color: #f77a5a;
    border-radius: 4px;
    border-style: hidden;
    transform: scale(1.05) translate3d(0px , -1px , 0px);
    color: white;
}

::-webkit-scrollbar {
    background-color: #fddbd1;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #eb9b87;

}

::-webkit-scrollbar-thumb {
    background-color: #ff5a31;
    border-radius: 10px;
}

input[type="file"] {visibility: hidden;}

#save_prompt_button {
    flex-grow: 1;
    width: 500px;
    height: 50px;
}

#add_param_button {
    flex-grow: 1;
    height: 25px;
}

#prompt_quality_value {
    background-color: var(--main-color);
}